
    <head>
         <meta charset="UTF-8"> 
         <title>Editar</title>

        <% include ../layouts/header %>

    </head>

    <body class="bg-light text-dark">
        <% include ../layouts/nav %>
        <script src="/public/common/js/bootstrap/datepicker/bootstrap-datepicker.js"></script>
        <script src="/public/common/js/bootstrap/datepicker/bootstrap-datepicker.es.min.js"></script>
        
        <% include ../layouts/title %>
        <div class="container">
            
            <div class="row" style="margin-top: 20px">
                <div class="col-12">
                    <div class="card bg-principal text-accent">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-2">
                                    <a class="btn btn-principal" href="/paciente/perfil">Regresar</a>
                                </div>
                                <div class="col-8 text-center">
                                    <h3>Editar paciente</h3>
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <form class="form" id="target" method="POST" enctype='application/json' action="/paciente/editar">

                                    <div class="form-group">
                                        <label for="noExpediente">Número de Expediente</label>
                                        <input class="form-control" id="noExpediente" type="text" name="data[noExpediente]" placeholder="Número de expediente" required minlength="2" value="<%= userData.noExpediente %>">
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="nombre">Nombre</label>
                                        <input class="form-control" id="nombre" type="text" name="data[nombre]" placeholder="Nombre" required minlength="2" value="<%= userData.nombre %>">
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="aPaterno">Apellido Paterno</label>
                                        <input class="form-control" id="aPaterno" type="text" name="data[aPaterno]" placeholder="Apellido Paterno" required minlength="2" value="<%= userData.aPaterno %>">
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="aMaterno">Apellido Materno</label>
                                        <input class="form-control" id="aMaterno" type="text" name="data[aMaterno]" placeholder="Apellido Materno" required minlength="2" value="<%= userData.aMaterno %>">
                                    </div>

                                    <div class="form-group">
                                        <label for="datepicker">Fecha de Nacimiento</label>
                                        <input id="datepicker" class="form-control" type="text" name="data[fechaNacimiento]" value="<%= userData.fechaNacimiento %>" required>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        
                        <div class="card-footer">
                           <div class="form-group">
                                <button class="btn btn-principal" id="guardar" type="submit">Guardar</button>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
        <script type="text/javascript" src="/public/js/user/editar.js"></script>
    </body>
</html>